<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qt.mate.qt_mate.mapper.QtMapper">
	<insert id="addQt">
		insert into qt (verse) values (#{verse});
	</insert>
	<select id="getQT" resultType="QtDTO">
		select * from qt where date = curdate();
	</select>
</mapper>